body{
    font-family: 'Abel';
}    
.nav1 li{
    display:inline-block;
}
.nav1 li a{
    color:black;
}
.nav1 li a:hover{
    color:#404040;
}
.nav2 li{
    display:inline;
    padding-left:70px;
    font-size:18px;
}
.nav2 li a{
    color:black;
}
.nav2 li a:hover{
    color:#404040;
}
.nav2 ul{
    margin-left:300px;
}
nav img{
    max-width:90px;
    margin-left:45px;
}
nav button{
    background-color:rgb(63, 170, 104);
    min-width:80px;
    height:38px;
    font-size:14px;
    border:none;
    border-radius:4px;
    color:#f2f2f2;

}
nav input{
    width:250px;
    height:38px;
    font-size:13px;
    border:1px solid;
    border-radius:4px;
    margin-left:27px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#404040;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #404040;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #404040;
}
.accessories{
    margin-left:740px;
}
.accessories1{
    padding-left:20px;
}
.loginlinks{
    position: absolute;
    display: none;
    background-color:#f2f2f2;
    min-width:100px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.login:hover .loginlinks{
    display: block;
}
.loginlinks  button a{
    color:white;
}
.loginhere-link     :hover{
    color:deepskyblue;
}
ul li .active{
    color:rgb(63, 170, 104);
}
#grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
#grid > div {
  background-color: rgb(250, 248, 249);
  color: black;
  font-size: 4vw;
  padding: 10px;
  height:290px;
}

.burger div{
	width:25px;
	height:3px;
	background-color:#C30612;
	margin:5px;
	margin-right:0px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.burger{
	display:none;
	cursor:pointer;
}

@media screen and (max-width:1100px){
	.body{
		width:100%;
	}
	.team-title{
		width:100%;
	}
	nav{
		width:100%;
	}
	.feature-mockup{
		display:none;
	}
	.feature-mock{
		display:none;
	}
	.feature-list li{
		margin-left:0px;
		transform: translateX(0%);
		transform: translateY(290%);
		width:2%;
		position:left;
		padding-left:2px;
	}
	.feature-details{
		padding-top:0px;
		transform: translateY(170%);
		padding-left:70px;
		margin-top:40px;
	}
	.feature-icon{
		position:left;
		margin-left:0px;
		left:0px;
		transform: translateX(0%);
		transform: translateY(150%);
		width:4%;
		position:left;
		padding-left:0px;
		margin-top:20px;
	}
	.carousel-indicators{
		display:none;
	}
	.team-area{
		height:100px;
	}
	.team-area .sub-heading{
		display:none;
	}
	.team-block{
		transform: translateX(100%);
		transform: translateY(50%);
		margin-left:-390px;
		width:100%;
	}
	.team-man{
		width:-20%;
		transform: translateX(73%);
	}
	.more-feature-area .title h2{
		margin-top:0px;
		padding-top:0px;
		transform: translateY(-270%);
	}
	.more-feature-area .title .sub-heading p{

		margin-top:0px;
	}
	.more-feature-area .title h2{
	color:black;
}
	.more-feature-area .title .sub-heading{
		transform: translateY(-70%);
	display:;
	}
	.more-feature-area{
		height:650px;
	}
	
	
	
}
@media screen and (max-width:860px){
	nav{
		width:30%;
	}
}
@media screen and (max-width:810px){
	.team-man{
		transform: translateX(25%);
		width:-20%;
	}
}
@media screen and (max-width:640px){
	.team-man{
		transform: translateX(73%);
		width:-20%;
	}
}

@media screen and (max-width:860px){
	body{
		overflow-x:hidden;
                max-width:380px;
                max-height:2500px;
	}
        h2{
            display:none;
        }
	.menu{
		position:absolute;
		left:0px;
		height:100%;
		top:0vh;
		background-color:white;
		display:flex;
		flex-direction:column;
		align-items:center;
		width:85%;
		transform: translateX(-400%);
		transition: transform 0.5s ease-in;
		
	}
	.menu li{
		opacity:0;
	}
	.burger{
		display:block;
	}
        .container-grid{
                        width:380px;
        }

}
.nav-active{
	transform: translateX(0%);
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform; translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}
nav ul {
      list-style-type:none;    
     }

@media screen and (max-width:860px){
	nav li a{
		color:black;
                font-size:20px;
	}
}
